# Please create a .env file and copy these variables into it.
# To use Gmail, you need to turn on 2-step verification and generate an "App Password".
# Example: EMAIL_USER=your_email@gmail.com
# Example: EMAIL_PASS=abcd efgh ijkl mnop
PORT=3000
EMAIL_USER=nishantkr238@gmail.com
EMAIL_PASS=mgfv cfff luwx fcnu
